.avatar-border {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    z-index: 1;
}
.avatar-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(to right, #1abef4af, #5defb7af);
    border-radius: inherit;
    transform: scale(1.15);
    z-index: -1;
}

.mess-file-new {
    margin-top: 8px;
    margin-left: 4px;
    font-weight: bold;
    color: red;
    font-size: 11px;
}

.text-noti {
    margin-top: 10px;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
}

.text-noti-red {
    color: red;
    font-weight: bold;
}

.border-circle {
    width: 50px;
    height: 50px;
    border: 3px solid #5defb793;
}
.user-on::after {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 11px;
    height: 11px;
    content: "";
    border-radius: 50%;
    border: 0.3px solid rgba(0, 139, 139, 0.733);
    background-image: linear-gradient(to right, #0bf04fe7, #0bf04fe7);
    z-index: 1;
}

.card-device {
    margin: 10px auto;
    width: 200px;
    border-radius: 4px;
    color: rgba(13, 27, 62, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-device-title {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 20px 0;
}
.card-device-body {
    font-size: 18px;
    text-align: center;
    padding: 60px 0;
}

.card-device-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 1.5px;
    background-color: rgba(26, 54, 126, 0.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}

.more-feature {
    cursor: pointer;
}

.more-feature:hover {
    text-decoration: none;
    color: #3f6ad8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 20px 0px;
}

#popup-chat {
    position: fixed;
    display: none;
    width: 280px;
    height: 390px;
    bottom: 0px;
    right: 150px;
    z-index: 99999999;
}

.box-chat {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-chat {
    display: flex;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset,
        0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
}

.header-chat-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
}

.header-chat-avatar > img {
    border-radius: 50%;
    border: 1px solid wheat;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-chat-avatar::before {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 9px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #31a24c;
}

.header-chat-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header-chat-info .name {
    padding-top: 7px;
    height: 50%;
    flex-grow: 1;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.header-chat-info .status {
    padding-bottom: 4px;
    height: 50%;
    flex-grow: 1;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    color: #65676b;
}

.header-chat-feature {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    width: 100px;
    height: 100%;
}

.header-chat-feature > svg {
    cursor: pointer;
    width: 26px !important;
    height: 26px !important;
    fill: rgb(0, 132, 255) !important;
}

.body-chat {
    flex-grow: 1;
    padding: 0 5px;
    overflow-y: scroll;
}

.body-chat .box-mess {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
    padding-right: 10px;
}

.to-right {
    justify-content: flex-end;
}

.to-right > .box-image {
    display: none;
}

.box-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-right: 8px;
}

.box-image > img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.mess-content {
    max-width: 75%;
}

.mess-content > p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #090c13;
    width: 100%;
    padding: 6px 14px;
    border-radius: 18px;
    word-break: break-word !important;
    background-color: #f0f2f5;
}

.to-right .mess-content > p {
    color: #ffffff;
    background-color: rgba(0, 132, 255, 0.945);
}

.footer-chat {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.footer-chat-more {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chat-more > svg {
    cursor: pointer;
    fill: rgb(0, 132, 255);
}

.footer-chat-message {
    overflow-x: hidden;
    flex-grow: 1;
    padding: 2px 0;
}

.footer-chat-message > input {
    color: #090c13;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    padding: 9px 14px;
    background-color: #f0f2f5;
    border-radius: 20px;
    word-break: break-word !important;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.footer-chat-send {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chat-send > svg {
    cursor: pointer;
    fill: rgb(0, 132, 255);
}

#btn-chat {
    position: fixed;
    text-align: center;
    bottom: 120px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    z-index: 1;
    cursor: pointer;
}

#btn-chat > i {
    line-height: 50px;
    font-size: 32px;
    color: white;
}

.product-list {
    display: flex;
    margin-left: -8px;
    flex-wrap: wrap;
}

.product-item {
    position: relative;
    padding: 4px 8px;
    margin-bottom: 8px;
    width: calc((100% / 5) - 8px);
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.product-item:hover .over-add {
    display: flex !important;
}

.over-add {
    display: none !important;
    position: absolute;
    margin-left: -8px;
    margin-top: -4px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-add {
    background-image: linear-gradient(to right, #37ccff, #7b22ff);
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 40px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    box-shadow: white 0px 0px 16px;
}

.box-product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.product-img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.box-product-info {
    flex-shrink: 0;
}

.product-info {
    margin: 0;
    padding: 0;
}

.product-name {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}

.product-price {
    font-size: 13px;
    font-weight: 500;
}

.product-desc {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.btn.btn-danger {
    color: #fff !important;
}

.bg-move-admin {
    padding: 24px;
    background-color: #ffffcc;
    border: 1px dotted #ccc;
    cursor: pointer;
    margin-top: 12px;
}

.model-send-coupon {
    max-width: 520px !important;
    width: 520px !important;
}

.index-home {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-icon > img {
    margin-right: 20px;
}

.form-delete {
    display: inline-block;
}
